---
---

body {
	font-family: Roboto, sans-serif;
	max-width: 900px;
	margin: -20px auto;
	padding: 0 5px;
	border-top: 40px solid #949AC9;
	border-bottom: 20px solid #949AC9;
}

section:not(:first-of-type) {
	margin-top: 45px;
}

h1, h2, h3, h4, h5, h6 {
	margin: 10px 0;
}

h1 {
	color: #6d64e8;
	font-size: 24pt;
}

h2 {
	color: #283592;
	font-size: 20pt;
	text-transform: uppercase;
}

h3 {
	font-size: 16pt;
}

p {
	padding: 0 5px;
}